@font-face {
   font-family: 'komorebi-gothic-P';
   src: url('komorebi-gothic-P/font.ttf');
}
@font-face {
   font-family: 'komorebi-gothic';
   src: url('komorebi-gothic/font.ttf');
}
@font-face {
   font-family: 'corbelb';
   src: url('corbelb/font.ttf');
}
